
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 0;
}


.container-fluid {
  padding: 20px;
}

h1 {
  color: #007bff;
  margin-bottom: 20px;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
  color: #495057;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s ease;
  
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-danger {
  margin-right: 10px;
}

.table-container {
  overflow-x: auto;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dee2e6;

}

.table th {
  background-color: #007bff;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table td {
  white-space: normal;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dee2e6;

  
}

.table td:first-child, .table th:first-child {
  width: 15%;
}

.table td:nth-child(2), .table th:nth-child(2),
.table td:nth-child(3), .table th:nth-child(3),
.table td:nth-child(4), .table th:nth-child(4) {
  width: 15%;
}

.table td:nth-child(5), .table th:nth-child(5) {
  width: 15%;
}

.table td:nth-child(6), .table th:nth-child(6) {
  width: 15%;
}

@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  .table {
    font-size: 0.9em;
  }

  .table thead {
    display: none;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .table tbody tr td {
    display: block;
    text-align: center;
    padding-left: 50%;
    position: relative;
  }

  .table tbody tr td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 45%;
    text-align: center;
    font-weight: bold;
    color: #495057;
  }

  .btn {
    display: block;
    margin-bottom: 10px;
  }

  .btn-danger {
    margin-right: 0;
  }
}
